.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar img {
    width: 35px;
    margin-left: 25px;

}

nav {
    position: absolute;
    top: 0%;
    background-color: black;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.login {
    border: solid;
    color: black;
    padding: 5px;
    background: linear-gradient(to right, rgb(253, 194, 0), white);
    border-radius: 8px 4px;
}

.login:hover {
    border-color: black;
    background: linear-gradient(black, rgb(253, 194, 0));
    color: #fff;
    border-radius: 4px 8px;
}

nav ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a i {
    color: rgb(253, 194, 0);
}

nav ul li a i:hover {
    color: white;
    background: rgb(253, 194, 0);
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(253, 194, 0);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
    border: 2px;
    border-style: none;
    background-color: rgba(252, 172, 0, 0.7);
    border-bottom-style: solid;
    border-bottom-color: rgb(253, 194, 0);
}
